@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Add a ingredient</h2>

<h4>Add a ingredient to this recipe: @Html.DisplayFor(model => model.RecipeName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)

    @Html.Label("Select ingredient")
    @Html.DropDownList("IngredientId")

    <input type="submit" value="Save" />
}
<hr>
<p>@Html.ActionLink("Back to list", "Index")</p>