@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a New Recipe</h4>
<p>@Html.ValidationMessageFor(model => model.RecipeName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.RecipeInstructions, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.RecipeRating, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.RecipeName, "Recipe Name:" , new { @class = "form-label"})
  @Html.TextBoxFor(model => model.RecipeName, new { @class = "form-control"})

  @Html.LabelFor(model => model.RecipeInstructions, "Recipe Instructions:", new { @class = "form-label"})
  @Html.TextBoxFor(model => model.RecipeInstructions, new { @class = "form-control"})

  @Html.LabelFor(model => model.RecipeRating, "Recipe Rating:", new { @class = "form-label"})
  @Html.TextBoxFor(model => model.RecipeRating, new { @class = "form-control", type = "number", step = "1", min = "1", max = "5"})
  <br>
  <input type="submit" value="Add New Recipe" class="btn btn buttongroup-lower"/>
}
<hr>
<p></p>

<div class="btn-group" role="group">
  <button class="btn buttongroup-lower">@Html.ActionLink("Show all Recipes", "Index")</button>
  <button class="btn buttongroup-lower">@Html.ActionLink("Home", "Index", "Home")</button>
</div>