@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new recipe</h4>
<p>@Html.ValidationMessageFor(model => model.RecipeName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.RecipeInstructions, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.RecipeRating, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.RecipeName)
    @Html.TextBoxFor(model => model.RecipeName)

    @Html.LabelFor(model => model.RecipeInstructions)
    @Html.TextBoxFor(model => model.RecipeInstructions)

    @Html.LabelFor(model => model.RecipeRating)
    @Html.TextBoxFor(model => model.RecipeRating)
    
    <input type="submit" value="Add new recipe" class="btn btn-default" />
}
<hr>
<p>@Html.ActionLink("Show all recipes", "Index")</p>