@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Edit Recipe</h2>

<h4>Edit this recipe: @Html.DisplayFor(model => model.RecipeName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)

    @Html.LabelFor(model => model.RecipeName, "Recipe Name", new { @class = "form-label" })
    @Html.EditorFor(model => model.RecipeName, new { htmlAttributes = new { @class = "form-control" } })

    @Html.LabelFor(model => model.RecipeInstructions, "Recipe Instructions:", new { @class = "form-label" })
    @Html.EditorFor(model => model.RecipeInstructions, new { htmlAttributes = new { @class = "form-control" } })

    @Html.LabelFor(model => model.RecipeRating, "Recipe Rating:", new { @class = "form-label"})
    @Html.EditorFor(model => model.RecipeRating, new { htmlAttributes = new { @class = "form-control", type = "number", step = "1", min = "1", max = "5" }})
    <br>
    <input type="submit" value="Save" class="btn btn buttongroup-lower"/>
}
<hr>
<div class="btn-group" role="group">
  <button class="btn buttongroup-lower">@Html.ActionLink("Back to List", "Index")</button>
  <button class="btn buttongroup-lower">@Html.ActionLink("Home", "Index", "Home")</button>
</div>