@{
  Layout = "_Layout";
}

@using RecipeBox.Models;

<h1>Recipes for @User.Identity.Name</h1>

<div class="btn-group test-case" role="group" aria-label="Basic example">
  <button class="btn btn-warning">@Html.ActionLink("Sort by Rating", "Index", new { sortOrder = "rating" })</button>
  <button class="btn btn-warning">@Html.ActionLink("Sort by Name", "Index", new { sortOrder = "name" })</button>
</div>


@if (@Model.Count == 0)
{
  <h3>No Recipes have been added yet!</h3>
} 
else
{
  <div class="row row-cols-2">
    @foreach (Recipe recipe in Model)
    {
      <div class="col">
        <div class="card recipe-card">
          <div class="card-body">
            <h5 class="card-title">@Html.ActionLink($"{recipe.RecipeName}", "Details", new { id = recipe.RecipeId })</h5>
            <p class="card-text">Recipe Rating:
              @for (int i = 1; i <= recipe.RecipeRating; i++)
              {
                <i class="fas fa-star"></i>
              }
              @for (int i = recipe.RecipeRating + 1; i <= 5; i++)
              {
                <i class="far fa-star"></i>
              }
            </p>
          </div>
        </div>
      </div>
    }
  </div>
}

<hr>
<p>@Html.ActionLink("Add new recipe", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>