@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient

<h2>Add a recipe to this ingredient</h2>

<h4>Add an recipe to this tag: @Html.DisplayFor(model => model.IngredientName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.IngredientId)

    @Html.Label("Select recipe")
    @Html.DropDownList("RecipeId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>