@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient

<h4>Add a New Ingredient</h4>
<p>@Html.ValidationMessageFor(model => model.IngredientName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.IngredientName, "Ingredient Name:", new { @class = "form-label"})
  @Html.TextBoxFor(model => model.IngredientName, new { @class = "form-control"})
  <br>
  <input type="submit" value="Add New Ingredient" class="btn buttongroup-lower" />
}
<hr>

<div class="btn-group" role="group">
  <button class="btn buttongroup-lower">@Html.ActionLink("Show all Ingredients", "Index")</button>
  <button class="btn buttongroup-lower">@Html.ActionLink("Home", "Index", "Home")</button>
</div>