@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@if (User.Identity.IsAuthenticated)
{
  <hr>
  <h3>Welcome, @User.Identity.Name to the RecipeBox!</h3>
  <hr>
}
else
{
  <hr>
  <h3>Welcome to the RecipeBox!</h3>
  <hr>
}

@if (User.Identity.IsAuthenticated)
{
  <div class="card mt-4">
    <div class="card-header">
      <h4 class="card-title"><a href="/Recipes" class="headerlink">Recipes - (@Model["recipes"].Length)</a></h4>
    </div>
    <div class="card-body">
      @if (Model["recipes"].Length == 0)
      {
        <p>No recipes have been added yet!</p>
      } 
      <ul>
        @foreach (Recipe recipe in Model["recipes"])
        {
          <li class="listitems">@Html.ActionLink(@recipe.RecipeName, "Details", "Recipes", new { id = @recipe.RecipeId}) - 
              @for (int i = 1; i <= recipe.RecipeRating; i++)
              {
                <i class="fas fa-star"></i>
              }
              @for (int i = recipe.RecipeRating + 1; i <= 5; i++)
              {
                <i class="far fa-star"></i>
              }
          </li>
        }
      </ul>
    </div>
  </div>
}
else
{
  <div class="card mt-4">
    <div class="card-header">
      <h4 class="card-title"><h4>Recipes</h4>
    </div>
    <div class="card-body">
      <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your recipes.</p>
    </div>
  </div>
}

<div class="card mt-4">
  <div class="card-header">
    <h4 class="card-title"><a href="/Tags" class="headerlink">Tags - (@Model["tags"].Length)</h4>
  </div>
  <div class="card-body">
    @if (Model["tags"].Length == 0)
    {
      <p>No tags have been added yet!</p>
    } 
    <ul>
      @foreach (Tag tag in Model["tags"])
      {
        <li class="listitems">@Html.ActionLink(@tag.TagName, "Details", "Tags", new { id = @tag.TagId})</li>
      }
    </ul>
  </div>
</div>

<div class="card mt-4">
  <div class="card-header">
    <h4 class="card-title"><a href="/Ingredients" class="headerlink">Ingredients - (@Model["ingredients"].Length)</h4>
  </div>
  <div class="card-body">
    @if (Model["ingredients"].Length == 0)
    {
      <p>No ingredients have been added yet!</p>
    } 
    <ul>
      @foreach (Ingredient ingredient in Model["ingredients"])
      {
        <li class="listitems">@Html.ActionLink(@ingredient.IngredientName, "Details", "Ingredients", new { id = @ingredient.IngredientId})</li>
      }
    </ul>
  </div>
</div>