@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h4>Add a New Tag</h4>
<p>@Html.ValidationMessageFor(model => model.TagName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TagName, "Tag Name:", new { @class = "form-label"})
  @Html.TextBoxFor(model => model.TagName, new { @class = "form-control"})
  <br>
  <input type="submit" value="Add New Tag" class="btn buttongroup-lower"/>
}
<hr>

<div class="btn-group" role="group">
  <button class="btn buttongroup-lower">@Html.ActionLink("Show all Tags", "Index")</button>
  <button class="btn buttongroup-lower">@Html.ActionLink("Home", "Index", "Home")</button>
</div>