@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model RecipeBox.Models.Tag

<h2>Tag Details</h2>
<hr />
<h3>Tag Name: @Html.DisplayFor(model => model.TagName)</h3>
<div class="btn-group test-case" role="group" aria-label="Basic example">
  <button class="btn buttongroup-upper ">@Html.ActionLink("Edit Tag", "Edit", new { id = Model.TagId })</button>
  <button class="btn buttongroup-upper">@Html.ActionLink("Delete Tag", "Delete", new { id = Model.TagId })</button>
</div>
@if(@Model.RecipeTagJoinEntities.Count == 0)
{
  <p>This tag does not belong to any recipes</p>
}
else
{
  <h4>Recipes with this tag:</h4>
  <ul>
  @foreach(RecipeTag join in Model.RecipeTagJoinEntities)
  {
    <li>@join.Recipe.RecipeName</li>
    @using (Html.BeginForm("DeleteJoin", "Tags"))
    {
      @Html.Hidden("joinId", @join.RecipeTagId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<div class="btn-group" role="group">
  <button class="btn buttongroup-lower">@Html.ActionLink("Back to list", "Index")</button>
  <button class="btn buttongroup-lower">@Html.ActionLink("Add a Recipe", "AddRecipe", new { id = Model.TagId })</button>
  <button class="btn buttongroup-lower">@Html.ActionLink("Home", "Index", "Home")</button>
</div>