@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h2>Edit Tag</h2>

<h4>Edit this tag: @Html.DisplayFor(model => model.TagName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TagId)

    @Html.LabelFor(model => model.TagName, "Tag Name", new { @class = "form-label" })
    @Html.EditorFor(model => model.TagName, new { htmlAttributes = new { @class = "form-control" } })
    <br>
    <input type="submit" value="Save" class="btn btn buttongroup-lower"/>
}
<hr>
<div class="btn-group" role="group">
  <button class="btn buttongroup-lower">@Html.ActionLink("Back to List", "Index")</button>
  <button class="btn buttongroup-lower">@Html.ActionLink("Home", "Index", "Home")</button>
</div>