@{
  Layout = "_Layout";
}

@using RecipeBox.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />

@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.LabelFor(user => user.Email, new { @class = "form-label"})
  @Html.TextBoxFor(user=> user.Email, new { @class = "form-control"})

  @Html.LabelFor(user => user.FirstName, new { @class = "form-label"})
  @Html.TextBoxFor(user=> user.FirstName, new { @class = "form-control"})

  @Html.LabelFor(user => user.LastName, new { @class = "form-label"})
  @Html.TextBoxFor(user=> user.LastName, new { @class = "form-control"})

  @Html.LabelFor(user=> user.Password, new { htmlAttributes = new { @class = "form-label"}})
  @Html.EditorFor(user=> user.Password, new { htmlAttributes = new { @class = "form-control"}})

  @Html.LabelFor(user=> user.ConfirmPassword, new { htmlAttributes = new { @class = "form-label"}})
  @Html.EditorFor(user=> user.ConfirmPassword, new { htmlAttributes = new { @class = "form-control"}})
  <br>
  <input type="submit" value="Register" />
}
<hr>
<p>@Html.ActionLink("Back to accounts page", "Index")</p>